.admin-view {
    background-color: #e8f2ed;
    min-height: 100vh;
}


.admin-view .selected-button {
    cursor: default !important;
    background-color: #2EE88A;
}

.text-admin {
    color: #2EE88A;
}

.admin-view .selected-button:hover{
    background-color: #2EE88A !important;
}

.admin-view .gestionnaire > div{
    border-radius: 10px;
    transition: background-color 0.2s ease;
}

.admin-view .gestionnaire > div:hover{
    cursor: pointer;
    background-color: #2ee88b4f;
    transition: background-color 0.2s ease;
}

