.blue-background {
    background-color: #9DCCFF4D;
}

.search-container {
    position: relative;
    max-width: 100%;
}

.search-icon {
    position: absolute;
    left: 12px;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    pointer-events: none;
}

.search-icon svg {
    width: 20px;
    height: 20px;
}

.search-input {
    padding: 15px;
    padding-left: 40px;
}

.btn-detail {
    background-color: #c9c9c9;
}

.btn-detail:hover {
    background-color: #84898d;
}

.course-container {
    min-height: 90vh;
}

.course-card {
    opacity: 1;
    max-height: 500px;
    transition: opacity 0.3s ease, max-height 0.3s ease, margin 0.3s ease;
    overflow: hidden;
}

.course-card.hidden {
    opacity: 0;
    max-height: 0;
    margin-bottom: 0;
}

.icon-text {
    display: flex;
    align-items: center;
}