.ariane-link {
    text-decoration: none;
}

.ariane-link:hover {
    text-decoration: underline;
    color: #005D88 !important;
}

.active-ariane-link {
    color: #005D88
}

.total-separator {
    width: 95%;
    margin-inline: auto;
}

.small-text {
    font-size: 0.8rem;
}

.cgu-link {
    color: #005D88;
    text-decoration: none;
}

.cgu-link:hover {
    color: #0C232B;
    text-decoration: underline;
}

.btn-payment {
    background-color: #005D88;
    color: white;
    padding-block: 12px;
    width: 100%;
}

.btn-payment:hover {
    background-color: #0C232B;
    color: white;
}

.payment-card {
    border: 2px solid #005D88;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 12px;
    background: white;
}

.payment-wrapper {
    position: relative;
}

.payment-card.fade-in {
    opacity: 0;
    animation: fadeIn 0.3s forwards;
}

.payment-card.fade-out {
    opacity: 1;
    animation: fadeOut 0.3s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-10px);
    }
}

.left-scroll-container {
    height: 90vh;
    overflow-y: auto;
}

.right-fixed {
    position: sticky;
    top: 0;
    height: 100vh;
    overflow: hidden;
}

.checkbox-color:checked {
    background-color: #005D88;
    border-color: #005D88;
}

.form-check-input:focus {
    box-shadow: 0 0 0 0.25rem rgba(0, 93, 136, 0.4);
    border-color: #005D88;
}