.error-403 {
    text-align: center;
}

.error-403 h1 {
    font-size: 10rem;
    color: #005E87;
}

.error-403 h2 {
    font-size: 2rem;
}

.blue-button {
    background-color: #005E87;
    color: white;
    border: none;
}

.blue-button:hover {
    background-color: #0C232B;
}