.content-container {
    min-height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-with-eye {
    position: relative;
}

.input-with-eye input {
    padding-right: 2.5rem;
}

.input-with-eye .eye-icon {
    position: absolute;
    right: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 100%;
    width: 24px;
}

.btn-blue {
    background-color: #005D88;
    color: white;
}

.btn-blue:hover {
    background-color: #0C232B;
}