.eye-icon {
  position: absolute;
  right: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 100%;
  width: 24px;
}

.link-pointer {
  cursor: pointer;
}

.blue-button {
    background-color: #005D88;
    color: white;
}

.blue-button:hover {
    background-color: #0C232B;
    color: white;
}

#formBox {
    background-color: white;
    width: 35vw;
    height: 50vh;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 10px 10px 20px rgba(70, 70, 70, 0.2);
}